
.col-span-1 { 
    background-color: pink; 
    padding: 10px;
}

.col-span-2{ 
    background-color: red;  
    width: 50%;
    padding: 10px;
}

.col-span-3, .col-span-4 { 
    display: none;
    width: 50%; 
    padding: 10px;

}

@media screen and (min-width: 641px) { 
    .grid-con {
        grid-template-columns: repeat(4, 1fr);  
    }

    .col-span-1 { 
        background-color: blue;
    }

    .col-span-2 { 
        background-color: purple;  
    }

    .col-span-3 { 
        background-color: grey;  
        display: block;  
    }

    .col-span-4 { 
        background-color: brown; 
        display: block;  
    }

    body {
        font-size: 1.5em;
    }
}
