body {
    font-size: 16px; 
}

.grid-con {
    display: grid;
    grid-template-columns: 1fr 1fr 0 0;
    grid-gap: 20px;
    padding: 10px;
}

#col1 {
    background-color: pink;
}

#col2 {
    background-color: red;
}

#col3, #col4 {
    display: none; /* Hide columns 3 and 4 on mobile */
}

/* Media query for screens larger than 641px */
@media screen and (min-width: 641px) {
    body {
        font-size: 24px; /* Increase font size */
    }

    .grid-con {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 equal-width columns */
    }

    #col1 {
        background-color: blue;
    }

    #col2 {
        background-color: purple;
    }

    #col3 {
        background-color: grey;
        display: block; /* Show column 3 */
    }

    #col4 {
        background-color: brown;
        display: block; /* Show column 4 */
    }
}
